In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv("topicmodelling.csv",encoding='latin1')
df

,date,username,created_at,tweet,heartbreak,Friendship issue,Work issues,Suicidal thoughts,insomania,looks_insecurity,mental health issue,family issue
0,18-03-2021,amanda_mental,2021-03-18 21:59:02 India Standard Time,i am worthless im a horrible person,0.0,0.055779,0.0,0.054988,0.0,0.0,0.058299,0.0
1,18-03-2021,amanda_mental,2021-03-18 08:44:03 India Standard Time,im open to new stuff so whats your fav,0.0,0.059721,0.0,0.029437,0.0,0.0,0.000000,0.0
2,18-03-2021,amanda_mental,2021-03-18 08:35:19 India Standard Time,dyed my hair pink,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
3,18-03-2021,amanda_mental,2021-03-18 08:34:57 India Standard Time,i want new music any suggestions,0.0,0.000000,0.0,0.034339,0.0,0.0,0.000000,0.0
4,18-03-2021,amanda_mental,2021-03-18 08:25:42 India Standard Time,me in target earlier,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6563,19-11-2020,thesanjunipero,2020-11-19 13:31:22 India Standard Time,o okay i uh mm,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
6564,18-11-2020,thesanjunipero,2020-11-18 18:07:53 India Standard Time,dicari asisten pribadi jobdesk ngerebus bawang...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
6565,17-11-2020,thesanjunipero,2020-11-17 18:04:06 India Standard Time,win win solution,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
6566,17-11-2020,thesanjunipero,2020-11-17 10:38:21 India Standard Time,bikin showreel aesthetic but ngerebus kulit ja...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
6567,17-11-2020,thesanjunipero,2020-11-17 09:50:49 India Standard Time,baiknya hari ini nangisin serat ato prata,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0

In [3]:
df=df[df['username']=='amanda_mental']

In [4]:
df_modified=df.drop(['date','created_at','tweet','username'],axis=1)

In [5]:
df_modified.head()

,heartbreak,Friendship issue,Work issues,Suicidal thoughts,insomania,looks_insecurity,mental health issue,family issue
0,0.0,0.055779,0.0,0.054988,0.0,0.0,0.058299,0.0
1,0.0,0.059721,0.0,0.029437,0.0,0.0,0.000000,0.0
2,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
3,0.0,0.000000,0.0,0.034339,0.0,0.0,0.000000,0.0
4,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0

In [6]:
df_modified['unidentified'] = df_modified.any(axis=1)
df_modified['unidentified'] = df_modified["unidentified"].astype(int)
for i in range(len(df_modified)):
    if df_modified['unidentified'][i] == 1:
        df_modified['unidentified'][i] = 0.0
    else:
        df_modified['unidentified'][i] = 1.0

<ipython-input-6-649e83730b6a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_modified['unidentified'][i] = 0.0
<ipython-input-6-649e83730b6a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_modified['unidentified'][i] = 1.0

In [7]:
df_modified['dominant_value']=df_modified.max(axis=1)

In [8]:
df_modified.head()

,heartbreak,Friendship issue,Work issues,Suicidal thoughts,insomania,looks_insecurity,mental health issue,family issue,unidentified,dominant_value
0,0.0,0.055779,0.0,0.054988,0.0,0.0,0.058299,0.0,0,0.058299
1,0.0,0.059721,0.0,0.029437,0.0,0.0,0.000000,0.0,0,0.059721
2,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1,1.000000
3,0.0,0.000000,0.0,0.034339,0.0,0.0,0.000000,0.0,0,0.034339
4,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1,1.000000

In [9]:
(df_modified['dominant_value'] == 0).sum()

0

In [10]:
 df_modified['dominant_value']= df_modified['dominant_value'].replace(0, np.nan)

In [11]:
df_modified.isnull().sum()

heartbreak             0
Friendship issue       0
Work issues            0
Suicidal thoughts      0
insomania              0
looks_insecurity       0
mental health issue    0
family issue           0
unidentified           0
dominant_value         0
dtype: int64

In [12]:
df_modified=df_modified.dropna()

In [13]:
df_modified=df_modified.drop(['dominant_value'],axis=1)

In [14]:
df_modified.shape

(139, 9)

In [15]:
df_modified.head()

,heartbreak,Friendship issue,Work issues,Suicidal thoughts,insomania,looks_insecurity,mental health issue,family issue,unidentified
0,0.0,0.055779,0.0,0.054988,0.0,0.0,0.058299,0.0,0
1,0.0,0.059721,0.0,0.029437,0.0,0.0,0.000000,0.0,0
2,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1
3,0.0,0.000000,0.0,0.034339,0.0,0.0,0.000000,0.0,0
4,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1

In [16]:
#df_modified=df_modified.drop(['date','created_at','tweet','username'],axis=1)

In [17]:
df_modified.shape

(139, 9)

In [18]:
df_modified['domiant_topic']=df_modified.idxmax(axis=1)

In [19]:
df_modified

,heartbreak,Friendship issue,Work issues,Suicidal thoughts,insomania,looks_insecurity,mental health issue,family issue,unidentified,domiant_topic
0,0.000000,0.055779,0.0,0.054988,0.0,0.0,0.058299,0.0,0,mental health issue
1,0.000000,0.059721,0.0,0.029437,0.0,0.0,0.000000,0.0,0,Friendship issue
2,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1,unidentified
3,0.000000,0.000000,0.0,0.034339,0.0,0.0,0.000000,0.0,0,Suicidal thoughts
4,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1,unidentified
...,...,...,...,...,...,...,...,...,...,...
134,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.053109,0.0,0,mental health issue
135,0.000000,0.000000,0.0,0.020157,0.0,0.0,0.000000,0.0,0,Suicidal thoughts
136,0.034807,0.000000,0.0,0.000000,0.0,0.0,0.044206,0.0,0,mental health issue
137,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.093224,0.0,0,mental health issue
138,0.019773,0.000000,0.0,0.000000,0.0,0.0,0.103359,0.0,0,mental health issue

In [20]:
df_modified.domiant_topic.value_counts()

mental health issue    57
unidentified           34
Work issues            11
Friendship issue       10
Suicidal thoughts       9
family issue            8
heartbreak              5
insomania               4
looks_insecurity        1
Name: domiant_topic, dtype: int64

In [21]:
frequency_table = pd.value_counts(df_modified.domiant_topic).to_frame().reset_index()
frequency_table

                 index  domiant_topic
0  mental health issue             57
1         unidentified             34
2          Work issues             11
3     Friendship issue             10
4    Suicidal thoughts              9
5         family issue              8
6           heartbreak              5
7            insomania              4
8     looks_insecurity              1

In [22]:
frequency_table['Cumulative Frequency'] = frequency_table['domiant_topic'].cumsum()

In [23]:
frequency_table

                 index  domiant_topic  Cumulative Frequency
0  mental health issue             57                    57
1         unidentified             34                    91
2          Work issues             11                   102
3     Friendship issue             10                   112
4    Suicidal thoughts              9                   121
5         family issue              8                   129
6           heartbreak              5                   134
7            insomania              4                   138
8     looks_insecurity              1                   139

In [24]:
frequency_table['relative_frequency']=frequency_table['domiant_topic']/frequency_table['domiant_topic'].sum()

In [25]:
frequency_table

,index,domiant_topic,Cumulative Frequency,relative_frequency
0,mental health issue,57,57,0.410072
1,unidentified,34,91,0.244604
2,Work issues,11,102,0.079137
3,Friendship issue,10,112,0.071942
4,Suicidal thoughts,9,121,0.064748
5,family issue,8,129,0.057554
6,heartbreak,5,134,0.035971
7,insomania,4,138,0.028777
8,looks_insecurity,1,139,0.007194

In [26]:
frequency_table['cumulativerequency_percentage']=frequency_table['relative_frequency'].cumsum()

In [27]:
frequency_table

,index,domiant_topic,Cumulative Frequency,relative_frequency,cumulativerequency_percentage
0,mental health issue,57,57,0.410072,0.410072
1,unidentified,34,91,0.244604,0.654676
2,Work issues,11,102,0.079137,0.733813
3,Friendship issue,10,112,0.071942,0.805755
4,Suicidal thoughts,9,121,0.064748,0.870504
5,family issue,8,129,0.057554,0.928058
6,heartbreak,5,134,0.035971,0.964029
7,insomania,4,138,0.028777,0.992806
8,looks_insecurity,1,139,0.007194,1.000000